.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #202020;
}

.nav__left {
  display: flex;
  align-items: center;
}

.nav__menu {
  margin-left: 10px;
  color: #ffffff;
}

.nav__logo {
  margin-top: 0;
  margin-left: 10px;
  height: 35px;
  object-fit: contain;
}

.nav__input {
  display: flex;
  align-items: center;
  width: 40%;
  height: 35px;
  border: 1px solid #333333;
}

.nav__input > input {
  flex: 1;
  height: 33px;
  padding-left: 10px;
  background-color: #111111;
  border: none;
}

.nav__input__button {
  width: 50px !important;
  height: 23px;
  padding: 5px 0 5px 25px;
  background-color: #333333;
  /* border-left: 1px solid #555555; */
  color: #666666;
}

.nav__icons {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.nav__icon {
  margin-right: 15px;
}

.nav__avatar {
  margin-right: 20px;
}
