.sidebar {
  flex: 0.2;
  background-color: #222222;
}

.sidebar > hr {
  height: 1px;
  border: 0;
  background-color: #333333;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar > h1 {
  margin-left: 24px;
  margin-bottom: 3px;
  font-size: 10px;
  color: #ffffff;
}

.sidebar__section {
  margin-left: 17px;
  margin-bottom: 2px;
  font-size: 14px;
  color: #6a6a6a;
}
